<!DOCTYPE html>
<html lang="ja" prefix="og:https://ogp.me/ns#">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content="NPO法人Board Game Japanの公式サイトです。学習要素を含むボードゲームの開発と、ボードゲームの開発・振興・研究に向けたプラットフォームの構築を行っています。"/>
		<meta name="keywords" content="Board Game Japan, BGJ, ボードゲームジャパン, とらとら将棋, 京都福笑い, Party×Party"/>
		<meta property="og:site_name" content="Board Game Japan"/>
		<meta property="og:image" content="img/logo.jpg"/>
		<title>Board Game Japan</title>
		<link rel="stylesheet" href="style.css" type="text/css"/>
		<link rel="icon" href="favicon.ico"/>
		<link rel="alternate" href="feed.atom" type="application/atom+xml"/>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script defer="defer" src="script.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-115048844-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-115048844-1');
		</script>
	</head>
	<body>
		<div id="app">
			<!-- logo -->
			<h1><img src="img/favicon.png" alt="Board Game Japan"/> Board Game Japan</h1>
			<article v-show="page == 'top'">
				<h2>Top</h2>
				<p>NPO法人<strong>Board Game Japan</strong>は、学習要素を含むボードゲームの開発と、ボードゲームの開発・振興・研究に向けたプラットフォームの構築を行っています。</p>
				<section>
					<p><a href="cup/">第2回Board Game Japanカップ</a>のエントリーを開始しました!</p>
				</section>
				<section>
					<p>2022/3に開催された<a href="https://eco.kyoto-u.ac.jp/sdgs/kyoto-times/life/game-show/">京都SDGsゲームショウ</a>で収集した、SDGsに関するゲームの情報をまとめた<a href="https://sdgs.boardgamejapan.org">アーカイブサイト</a>を公開しました! イベント自体は終了しましたが、コンテンツは今後も継続して更新予定です。</p>
				</section>
				<section>
					<p>2020/10/5(月)より、<a href="https://honto.jp/store/detail_1570065_14HB320.html">MARUZEN＆ジュンク堂書店 梅田店</a>(阪急梅田駅近く)の1Fにて、Board Game Japan推薦ボードゲームの販売を開始しました!
					店頭入荷分には限りがありますので、品切れの場合もございます。各製品の在庫状況については、直接店舗までお問い合わせください(本企画は2021年秋に終了しました)。</p>
					<img src="img/mj-umeda.jpg" alt="MARUZEN＆ジュンク堂書店 梅田店1Fにあるボードゲームコーナーの様子です" width="50%" title="MARUZEN＆ジュンク堂書店 梅田店1Fにあるボードゲームコーナーの様子(提供: 同店)"/>
				</section>
				<section>
					<h3>最新情報<a href="feed.atom"><img src="img/feed.png" alt="Atom Feed" title="Atom Feed"/></a></h3>
					<ul>
						<li v-for="n in news"><time>{{n.updated}}</time>: <a v-bind:href="'#' + n.link.split('#')[1]" v-on:click="page = n.link.split('#')[1]">{{n.summary}}</a></li>
					</ul>
				</section>
			</article>
			<article v-show="page == 'about'">
				<h2>About us</h2>
				<p>NPO法人Board Game Japanの概要です。</p>
				<section>
					<h3>団体概要</h3>
					<dl>
						<dt>団体名</dt>
						<dd><img loading="lazy" src="img/logo.png" style="float:left" alt="Board Game Japan"/>特定非営利活動法人(NPO法人) <a href="/">Board Game Japan</a></dd>
						<dt style="clear:both">目的</dt>
						<dd>
							<ul>
								<li>主に学習要素を含む<em>ボードゲームやカードゲームの開発</em></li>
								<li>ボードゲームの振興・研究を目的とした<em>プラットフォーム組織の構築</em></li>
								<li>日本の<em>ボードゲーム人口を増やし</em>、<em>日本発のボードゲームを世界に広めて</em>いく</li>
							</ul>
						</dd>
						<dt>事業内容</dt>
						<dd>
							<ul>
								<li>ボードゲーム等を開発し教材化・商品化する出版印刷事業</li>
								<li>ボードゲーム等を販売する物品販売事業</li>
								<li>ボードゲーム創作活動の方法等を教授する教育事業</li>
								<li>児童向けワークショップの開催等のアマチュア興行事業</li>
								<li>その他必要な事業</li>
							</ul>
						</dd>
						<dt>沿革・活動実績</dt>
						<dd>
							<table>
								<tr>
									<td>2024/1</td>
									<td>通常総会開催(1/27)</td>
								</tr>
								<tr>
									<td>2023/11</td>
									<td><a href="cup/">第2回Board Game Japanカップ</a>を開催</td>
								</tr>
								<tr>
									<td>2023/2</td>
									<td>通常総会開催(2/18)</td>
								</tr>
								<tr>
									<td>2023/1</td>
									<td><a href="cup/">第1回Board Game Japanカップ</a>を開催</td>
								</tr>
								<tr>
									<td>2022/10</td>
									<td>「<a href="https://gamemarket.jp/map/2022a">ゲームマーケット2022秋</a>」にて研修ゲームラボブースで出展</td>
								</tr>
								<tr>
									<td>2022/3</td>
									<td><a href="https://eco.kyoto-u.ac.jp/sdgs/kyoto-times/life/game-show/">京都SDGsゲームショウ</a>で収集した、SDGsに関するゲームの情報をまとめた<a href="https://sdgs.boardgamejapan.org">アーカイブサイト</a>を公開</td>
								</tr>
								<tr>
									<td>2022/2</td>
									<td>通常総会開催(2/6)</td>
								</tr>
								<tr>
									<td>2022/2</td>
									<td>「Microsoft Education Day 2022」にてバーチャル展示を実施</td>
								</tr>
								<tr>
									<td>2021/2</td>
									<td>「Microsoft Education Day 2021」にてバーチャル展示を実施</td>
								</tr>
								<tr>
									<td>2021/1</td>
									<td>通常総会開催(1/31)</td>
								</tr>
								<tr>
									<td>2020/11</td>
									<td>内閣府が設置した「<a href="https://future-city.go.jp/platform">地方創生SDGs官民連携プラットフォーム</a>」に参画</td>
								</tr>
								<tr>
									<td>2020/10</td>
									<td><a href="https://honto.jp/store/detail_1570065_14HB320.html">MARUZEN＆ジュンク堂書店 梅田店</a>1Fボードゲームコーナーの監修と納品を開始(〜2021年秋まで)<br/>
									<img src="img/mj-umeda.jpg" height="100"/></td>
								</tr>
								<tr>
									<td>2020/2</td>
									<td>通常総会開催(2/2)</td>
								</tr>
								<tr>
									<td>2019/7</td>
									<td><a href="https://bunkyosha.com">株式会社文響社</a>のボードゲーム「うんこ先生と学ぶ！SDGs入門カードゲーム」へのノウハウ提供(<a href="#works" v-on:click="page = 'works'">同社実施のワークショップにおける活用事例</a>)</td>
								</tr>
								<tr>
									<td>2019/2</td>
									<td>通常総会開催(2/3)</td>
								</tr>
								<tr>
									<td>2018/11</td>
									<td><a href="http://afuhi.jp">一般財団法人「葵プロジェクト」</a>と連携したボードゲーム「京都福笑い」の制作と、同法人主催の「第5回葵サミット」(11/10, 上賀茂神社)における<a href="http://afuhi.jp/998">「京都福笑い」試遊会の開催</a></td>
								</tr>
								<tr>
									<td>2018</td>
									<td>京都府立大の研究室と連携したボードゲーム「京都福笑い」の開発(歴史・地理面の考証とゲームデザイン)</td>
								</tr>
								<tr>
									<td>2018/2</td>
									<td>通常総会開催(2/12)</td>
								</tr>
								<tr>
									<td>2017</td>
									<td><a href="https://www.teraschool.jp">NPO法人寺子屋プロジェクト</a>が開催する「Tera school」におけるワークショップの実施(ボードゲーム開発及び試遊会)</td>
								</tr>
								<tr>
									<td>2017/9</td>
									<td><a href="http://www.design.kyoto-u.ac.jp">京都大学デザインスクール</a>主催の「京都大学サマーデザインスクール2017」(9/13-15, KRP)における<a href="http://www.design.kyoto-u.ac.jp/sds2017/theme01.html">ワークショップの実施</a></td>
								</tr>
								<tr>
									<td>2017/6</td>
									<td>設立総会開催(6/4)</td>
								</tr>
								<tr>
									<td>2017/5</td>
									<td>設立</td>
								</tr>
								<tr>
									<td>2017/1</td>
									<td>設立準備総会開催(1/28)</td>
								</tr>
							</table>
						</dd>
						<dt>詳細</dt>
						<dd><a href="https://www.npo-homepage.go.jp/npoportal/detail/112001039">NPO法人ポータルサイトの団体概要ページ</a></dd>
						<dd><a href="https://www5.city.kyoto.jp/chiiki-npo/npo/search/npo_search_result.php?id=1039">京都市 自治会・町内会＆NPOおうえんポータルサイトの団体概要ページ</a></dd>
						<dd><a href="https://www.npo-hiroba.or.jp/search/zoom.php?pk=108929">NPO法人データベース NPOヒロバの団体概要ページ</a></dd>
						<dd><a href="https://fields.canpan.info/organization/detail/1973261165">CANPAN FIELDSの団体概要ページ</a></dd>
						<dd><a href="http://kyo-en.net/detail.php/1973261165">京都公益活動ポータルサイトきょうえんの団体概要ページ</a></dd>
					</dl>
				</section>
				<section>
					<h3>設立趣旨</h3>
					<p><em>正解のない問題</em>に向き合い、<em>自ら答えを導き出す能力</em>が問われる時代となった現代において、<em>教育ツール</em>としての玩具は数多く開発され出版されている。</p>
					<p>近年は国内においても、他者との<em>コミュニケーション力</em>や<em>論理的思考力</em>を身につけるためのツールとして、あるいは最新の<em>科学研究</em>や<em>社会・経済の仕組み</em>などを一般の人に広く伝える媒体として、<a href="#bg"><strong>ボードゲーム</strong>*</a>の可能性に注目が集まっている。かく言う私たちも、ここ数年、教育や研究の現場におられる方々とともに、いくつかのゲームの開発に携わってきた。</p>
					<p>しかしながら、ボードゲーム大国と言われるドイツなどと比較すると、<em>国内での開発・振興はまだ途上</em>にあると言わざるを得ない。</p>
					<p>例えばスポーツの野球やサッカーであれば、子どもの頃から参加できる少年野球チームやサッカーチームが全国に存在することや、高校でそれぞれ約17万人と言われる競技人口の厚みがあることが、世界に通用するレベルのプロ選手たちが育つ環境を支えている。</p>
					<p>ボードゲームに関しても、私たちが期待している教育的効果があるならば、より多くの子どもたちに親しんでもらい<em>国内のボードゲーム人口を増やす</em>ことが、世界レベルの研究者、デザイナー、クリエイター、プログラマー、科学コミュニケーターなどの輩出に寄与すると考えられる。もちろん、それ以外のさまざまな仕事に就く人たちにとっても、子どもの頃からコミュニケーション力や論理的思考力を身につけることは非常に有意義である。</p>
					<p>現在の教育システムや子育て環境の中では、個人や幾人かのグループだけで開発されたゲームは世の中に浸透しにくい。そこで私たちは、主に<em>学習要素を含むゲームの開発・振興・研究を目的としたプラットフォーム組織</em>を作ることで、日本のボードゲーム人口を増やすとともに、日本発のボードゲームを世界に広めていきたいと考え、ここにNPO法人を設立する。</p>
					<p id="bg">* ここでの「<strong>ボードゲーム</strong>」は<em>カードゲームなども含むアナログゲームの総称</em>として広義で使用している</p>
				</section>
				<section>
					<h3>設立までの経緯</h3>
					<p>平成29年1月に発起人が呼びかけを行い、これに賛同者が集まって法人化の方向性を決め、平成29年1月28日の設立総会を経て、法人化の意思を確認した。</p>
				</section>
				<section>
					<h3>貸借対照表</h3>
					<ul>
						<li><a href="doc/b2023.pdf">2023年度</a></li>
						<li><a href="doc/b2022.pdf">2022年度</a></li>
						<li><a href="doc/b2021.pdf">2021年度</a></li>
						<li><a href="doc/b2020.pdf">2020年度</a></li>
						<li><a href="doc/b2019.pdf">2019年度</a></li>
						<li><a href="doc/b2018.pdf">2018年度</a></li>
						<li><a href="doc/b2017.pdf">2017年度</a></li>
					</ul>
				</section>
			</article>
			<article v-show="page == 'works'">
				<h2>Works</h2>
				<p>開発中のボードゲームを紹介します。</p>
				<section>
					<h3>エコ富豪</h3>
					<p>「<strong>エコ富豪</strong>」は、持続可能な開発（経済と環境保全の両立）について楽しく学ぶボードゲームです。1回目は個人戦・2回目はチーム戦と前提条件が変わる中でプレーヤーの行動が変容し、各人が利己的に振る舞った場合と、環境や他者に配慮して行動した場合の違いを体感することができます。子どもと大人が学び合う現代の寺子屋「<a href="https://www.teraschool.jp">Tera school</a>」と、京都大学の教員や学生で構成する「<a href="https://eco.kyoto-u.ac.jp">エコ〜るど京大</a>」が共同で開催した環境教育ワークショップで生まれたアイデアを元に、Board Game Japanがゲーム化し、普及に向けた活動を行っています。また、うんこドリルで有名な<a href="https://bunkyosha.com">文響社</a>さんにもゲームシステムなどのノウハウを提供し、『うんこ先生と学ぶ！SDGs入門カードゲーム』として活用していただいています。</p>
					<table>
						<caption>『うんこ先生と学ぶ！SDGs入門カードゲーム』の活用事例</caption>
						<tr>
							<td>2019/11/16</td>
							<td><a href="https://panasonic.co.jp/center/tokyo/event/all/2019/10/post_1335.html">パナソニックセンター東京</a>でのワークショップ</td>
						</tr>
						<tr>
							<td>2019/8/23</td>
							<td><a href="https://prtimes.jp/main/html/rd/p/000000150.000003336.html">相模原市役所</a>でのワークショップ</td>
						</tr>
						<tr>
							<td>2019/7/30-8/1</td>
							<td><a href="https://www.jma-wakuwaku.com/tokyo/detail.html?id=159">日本能率協会主催「夏休み2019 宿題・自由研究大作戦」</a>でのワークショップ</td>
						</tr>
					</table>
				</section>
				<section>
					<h3>とらとら将棋</h3>
					<details>
						<summary>「<strong>とらとら(虎々・虎拳)将棋</strong>」は、日本の伝統的なお座敷遊び・お茶屋遊びである「とらとら」を元に作られたボードゲームです。(ここをクリックすると詳細を表示します)</summary>
						<section>
							<h4>概要</h4>
							<p>「<em>とらとら</em>」は、一般的には「加藤清正の虎退治」や「<ruby>和籐内<rp>(</rp><rt>わとうない</rt><rp>)</rp></ruby>の虎退治」とも呼ばれる、近松門左衛門の浄瑠璃「<ruby>国性爺合戦<rp>(</rp><rt>こくせんやかっせん</rt><rp>)</rp></ruby>」から誕生した拳遊びで、日本の伝統的なお座敷遊び・お茶屋遊びとして知られています。</p>
							<p>「とらとら」では、まず対戦する双方が屏風の裏に隠れます。その後、音頭に合わせて、[清正の槍(または和籐内の鉄砲)][虎][(清正の母親の)老婆]の3つの型のいずれかの格好をしながら屏風から出て来て、双方の型の組み合わせで勝敗を決めます。</p>
							<p>勝敗は、[グー][チョキ][パー]のジャンケンと同様の「3すくみ」の関係性で決まります。
								清正は虎を退治するので、[清正の槍]は[虎]に勝ちます。虎は老人より強いので、[虎]は[老母]に勝ちます。
								そして、[老婆]は自分の息子である[清正の槍]に勝つという関係性で、勝敗を決します。</p>
							<p>「とらとら」を基に開発した「<strong>とらとら将棋</strong>」では、よりゲームを楽しむために[忍者]と[芸者]を追加し、[<em>清正</em>][<em>忍者</em>][<em>虎</em>][<em>芸者</em>][<em>老婆</em>]の5つの駒でゲームを行います。これらの5種類の駒を将棋盤を模した盤上に並べ、駒を動かしてゲームを行います。</p>
						</section>
						<section>
							<h4>勝敗の決め方</h4>
							<p>駒同士の勝敗は、次の関係性で決します。</p>
							<ul>
								<li>[清正]は[忍者]と[虎]に勝ちます。</li>
								<li>[忍者]は[虎]と[芸者]に勝ちます。</li>
								<li>[虎]は[芸者]と[老婆]に勝ちます。</li>
								<li>[芸者]は[老婆]と[清正]に勝ちます。</li>
								<li>[老婆]は[清正]と[忍者]に勝ちます。</li>
								<li>双方が同じ駒の場合は、「あいこ」です。</li>
							</ul>
						</section>
						<section>
							<h4>ゲームの進め方</h4>
							<p>「とらとら将棋」はプレイヤー2人と審判1名で行うボードゲームで、次の流れで遊びます。</p>
							<ol>
								<li>お互いに、盤上にある「自陣」のお座敷に、相手に見えないように5種類の駒を並べます。駒の配置には特に制約がないので、自由に並べることができます。<em>相手は、あなたの駒がそれぞれ何の駒なのか、最後まで分かりません</em>。</li>
								<li>あなたのターンでは、「自陣」の駒を1つ選び、その駒を前後左右いずれかの方向に1つ進めます。進める方向や一度に進める歩数は、駒の種類によらず同じです。</li>
								<li>あなたの駒がもし、相手の駒がいるマス目の前に達した場合、相手の駒と「とらとら」の対決をします。プレイヤーは互いに相手の駒を見ることはできないので、<em>審判が2つの駒を確認し、上述の関係性によって勝敗を判定</em>します。審判は、勝敗が決すれば「負けた駒」を、互いに同じ駒で「あいこ」なら両方の駒を、プレイヤーに見えないように退けます。</li>
								<li>これで相手のターンに移り、相手が駒を動かします。これを繰り返し、<em>「敵陣」のお座敷奥にある座布団を取るか、相手の駒を全部取ったらゲームの「勝ち」</em>となります。</li>
							</ol>
						</section>
					</details>
					<img loading="lazy" src="img/toratora.jpg" alt="とらとら将棋のプロトタイプ写真"/>
				</section>
				<section>
					<h3>京都福笑い(ご当地福笑い)</h3>
					<details>
						<summary>「<strong>京都福笑い</strong>」は、何もない京都市街の地図に、町を形成する通りや川、お寺や神社、目印となる建物などのパーツを並べ、京都市街の地図を完成させるボードゲームです。京都の街中の土地勘を養い、町の作りを学ぶ地理学習ツールとしての活用のほか、対象とする時代を変えることで、様々な時代の京都の歴史を俯瞰して学ぶ歴史学習ツールとしても活用できます。(ここをクリックすると詳細を表示します)</summary>
						<section>
							<h4>概要</h4>
							<p>地理は小学校3年生以降の社会科の授業で扱われますが、児童の身の回りの世界を中心としたもので、より広い地域全体を俯瞰して見る機会は多くありません。「京都福笑い」は、千年の都としての長い歴史をもつ京都という地域に焦点を当て、現在の地域の姿を遊びを通して理解できるだけでなく、中世や近代といった過去の地域についても重層的に学習できるボードゲームです。また、京都以外の地域でも同様のゲームを作成し、様々な地域での普及と活用を目指します。</p>
						</section>
						<section>
							<h4>ゲームの進め方</h4>
							<p>「京都福笑い」は1名から数名のプレイヤーで行うボードゲームで、次の流れで遊びます。</p>
							<ol>
								<li>平地と山並み、川の流れだけが描かれた京都盆地のボード上に、寺社やランドマークとなる施設が描かれた<em>カードを、経験や記憶を頼りに配置</em>します。<em>グループで施設の場所を議論</em>したり、<em>ヒントを提供</em>したりして、正しい位置を推測して配置していきます。</li>
								<li>カードを配置し終えたら、<em>正解の書かれたシートを用いて答え合わせ</em>を行います。</li>
								<li>現代の京都だけでなく、<em>中世や近代の京都</em>についても同様に遊び、どの施設がいつどこにあったのかや、京都の街がどのように形成されてきたのかを、<em>時間的な歴史の流れだけでなく、空間的な配置としても理解</em>することができます。</li>
							</ol>
						</section>
					</details>
					<img loading="lazy" src="img/fukuwarai.jpg" alt="京都福笑いのプロトタイプ画像"/>
				</section>
				<section>
					<h3>Party×Party</h3>
					<p>「<strong>Party×Party</strong>」は、友達の誕生日パーティーを企画することで、企画力や並列処理の思考を学ぶボードゲームです。</p>
				</section>
			</article>
			<article v-show="page == 'toratora'">
				<h2>とらとら将棋</h2>
				<p>「<strong>とらとら(虎々・虎拳)将棋</strong>」は、日本の伝統的なお座敷遊び・お茶屋遊びである「とらとら」を元に作られたボードゲームです。</p>
				<img loading="lazy" src="img/toratora.jpg" alt="とらとら将棋のプロトタイプ写真"/>
				<section>
					<h3>概要</h3>
					<p>「<em>とらとら</em>」は、一般的には「加藤清正の虎退治」や「<ruby>和籐内<rp>(</rp><rt>わとうない</rt><rp>)</rp></ruby>の虎退治」とも呼ばれる、近松門左衛門の浄瑠璃「<ruby>国性爺合戦<rp>(</rp><rt>こくせんやかっせん</rt><rp>)</rp></ruby>」から誕生した拳遊びで、日本の伝統的なお座敷遊び・お茶屋遊びとして知られています。</p>
					<p>「とらとら」では、まず対戦する双方が屏風の裏に隠れます。その後、音頭に合わせて、[清正の槍(または和籐内の鉄砲)][虎][(清正の母親の)老婆]の3つの型のいずれかの格好をしながら屏風から出て来て、双方の型の組み合わせで勝敗を決めます。</p>
					<p>勝敗は、[グー][チョキ][パー]のジャンケンと同様の「3すくみ」の関係性で決まります。
						清正は虎を退治するので、[清正の槍]は[虎]に勝ちます。虎は老人より強いので、[虎]は[老母]に勝ちます。
						そして、[老婆]は自分の息子である[清正の槍]に勝つという関係性で、勝敗を決します。</p>
					<p>「とらとら」を基に開発した「<strong>とらとら将棋</strong>」では、よりゲームを楽しむために[忍者]と[芸者]を追加し、[<em>清正</em>][<em>忍者</em>][<em>虎</em>][<em>芸者</em>][<em>老婆</em>]の5つの駒でゲームを行います。これらの5種類の駒を将棋盤を模した盤上に並べ、駒を動かしてゲームを行います。</p>
				</section>
				<section>
					<h3>勝敗の決め方</h3>
					<p>駒同士の勝敗は、次の関係性で決します。</p>
					<ul>
						<li>[清正]は[忍者]と[虎]に勝ちます。</li>
						<li>[忍者]は[虎]と[芸者]に勝ちます。</li>
						<li>[虎]は[芸者]と[老婆]に勝ちます。</li>
						<li>[芸者]は[老婆]と[清正]に勝ちます。</li>
						<li>[老婆]は[清正]と[忍者]に勝ちます。</li>
						<li>双方が同じ駒の場合は、「あいこ」です。</li>
					</ul>
				</section>
				<section>
					<h3>ゲームの進め方</h3>
					<p>「とらとら将棋」はプレイヤー2人と審判1名で行うボードゲームで、次の流れで遊びます。</p>
					<ol>
						<li>お互いに、盤上にある「自陣」のお座敷に、相手に見えないように5種類の駒を並べます。駒の配置には特に制約がないので、自由に並べることができます。<em>相手は、あなたの駒がそれぞれ何の駒なのか、最後まで分かりません</em>。</li>
						<li>あなたのターンでは、「自陣」の駒を1つ選び、その駒を前後左右いずれかの方向に1つ進めます。進める方向や一度に進める歩数は、駒の種類によらず同じです。</li>
						<li>あなたの駒がもし、相手の駒がいるマス目の前に達した場合、相手の駒と「とらとら」の対決をします。プレイヤーは互いに相手の駒を見ることはできないので、<em>審判が2つの駒を確認し、上述の関係性によって勝敗を判定</em>します。審判は、勝敗が決すれば「負けた駒」を、互いに同じ駒で「あいこ」なら両方の駒を、プレイヤーに見えないように退けます。</li>
						<li>これで相手のターンに移り、相手が駒を動かします。これを繰り返し、<em>「敵陣」のお座敷奥にある座布団を取るか、相手の駒を全部取ったらゲームの「勝ち」</em>となります。</li>
					</ol>
				</section>
			</article>
			<article v-show="page == 'rights'">
				<h2>知的財産としてのボードゲーム</h2>
				<p>本稿では、知的財産としてのボードゲームの権利面を明確化し、ボードゲームの開発と流通を円滑にすることを目的として、ボードゲームに対してどのような権利保護がなされるのかを制度面から概説する。</p>
				<section>
					<h3>知的財産制度の概要</h3>
					<p>日本の知的財産制度は、基本法である<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=414AC0000000122">知的財産基本法</a>の下に、<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000121">特許法</a>・<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000123">実用新案法</a>・<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000125">意匠法</a>・<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000127">商標法</a>・<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345AC0000000048">著作権法</a>などの個別法が制定されており、知的財産の態様に応じた権利保護や権利制限が行われている。</p>
					<p>また、知的財産制度に関する国際的な枠組みとして、<a href="https://www.jpo.go.jp/shiryou/s_sonota/fips/paris/pc/mokuji.htm">パリ条約</a>や<a href="https://www.jpo.go.jp/shiryou/s_sonota/fips/trips/ta/mokuji.htm">TRIPS協定</a>が存在する。</p>
				</section>
				<section>
					<h3>ボードゲームとは</h3>
					<p>本稿でいう「<strong>ボードゲーム</strong>」は、カードゲームなども含む、いわゆる<strong>アナログゲーム</strong>一般を指し、次のもので構成されるとする。</p>
					<ul>
						<li>ボードゲームを指し示す<strong>名称</strong>や<strong>ロゴマーク</strong></li>
						<li>ボードゲームの進行方法や勝敗条件などを定めた<strong>ルール(規則)</strong></li>
						<li>ボードゲームのルールを記した<strong>ルールブック(説明書, サマリー)</strong></li>
						<li>ボードゲームを実際に遊ぶためのボードやカード、駒、トークンなどの<strong>コンポーネント(部品)</strong></li>
					</ul>
					<p>以下では、これらのそれぞれについて、その知的財産としての態様や、日本の知的財産制度や国際的な枠組みでどのように保護されるのかを概説する。</p>
				</section>
				<section>
					<h3>ボードゲームの名称やロゴ</h3>
					<p>一般的な商品の名称やロゴと同じく、ボードゲームの名称やロゴも標章である。普通名詞やありふれた名称など、<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000127#27">商標法第3条</a>の除外要件を満たすものでなければ、<em>商標</em>として登録できる。商標として登録されると、商標権者は指定された区分についてその商標を使用する権利を専有する(<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000127#257">商標法第25条</a>)。<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000127#209">商標法第19条</a>により商標権の存続期間は10年だが、引き続きその商標を保護したい場合は、更新登録を行うことで存続期間を延長することが可能である。</p>
					<p>既存の登録商標は、<a href="https://www.j-platpat.inpit.go.jp">特許情報プラットフォーム</a>で検索や閲覧が可能である。例えば「オセロ」で検索すると、<a href="https://www2.j-platpat.inpit.go.jp/syutsugan/TM_DETAIL_T.cgi?ITEM01=106&amp;KEY01=%83%49%83%5A%83%8D&amp;OPT01=02&amp;ITEM02=107&amp;KEY02=%83%49%83%5A%83%8D&amp;OPT02=02&amp;ITEM03=103&amp;KEY03=%83%49%83%5A%83%8D&amp;OPT03=02&amp;ITEM04=705&amp;KEY04=&amp;OPT04=01&amp;STIME=152860914477656814270294&amp;HITCNT=29&amp;S_FLAG=00&amp;TERMOPT=01&amp;PAGE=01&amp;LISTNO=1&amp;DISP=1">「オセロ」の商標</a>に関する出願日や存続期間満了日などの詳細を閲覧できる。</p>
				</section>
				<section>
					<h3>ボードゲームのルール</h3>
					<p>ボードゲームのルールは、表現されていないアイデアのため著作物とはいえず、著作権法で保護する対象とはならない。アイデアを保護するのは。発明や考案を対象とする特許法や実用新案法である。これらの法律では、考案は「自然法則を利用した技術的思想の創作」(<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000123#5">実用新案法第2条</a>)として定義され、考案のうち「高度のもの」(<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000121#5">特許法第2条</a>)が発明と定義される。ゲームのルールは人為的に定めた規則であり、「自然法則を利用」しているとはいえないため、ルールは考案とはいえない(参考: 資金別貸借対照表事件(H15東京地判))。従って、ボードゲームのルール自体は、知的財産として保護されないと考えるのが一般的である。</p>
					<p>このように発明に対して「自然法則を利用」することを要件として定めている国は、必ずしも多数派ではない。パリ条約には特許権の対象について記述がない他、TRIPS協定でも「特許は,新規性,進歩性及び産業上の利用可能性のあるすべての技術分野の発明(物であるか方法であるかを問わない。)について与えられる」(<a href="https://www.jpo.go.jp/shiryou/s_sonota/fips/trips/ta/chap3.htm#law27">TRIPS協定第27条</a>)とあるのみで、「自然法則の利用」については記述がない。</p>
				</section>
				<section>
					<h3>ボードゲームのルールブック(説明書)</h3>
					<p>上述の通り、ボードゲームのルールは著作物ではなく著作権の対象ではないが、ルールを文章で表現したルールブックについては、<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345AC0000000048#101">著作権法第10条</a>に例示される「<em>言語の著作物</em>」に該当するため、権利保護の対象である。また、ルールブックに図表やイラストが含まれる場合は、「図形の著作物」や「美術の著作物」として、これらも権利保護の対象である。従って、例えば自作ボードゲームのルールを丸ごとコピーした商品が発売された場合、ルールブックの文面も酷似していれば、著作権侵害の差止請求(<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345AC0000000048#903">著作権法第112条</a>)を行うことが可能である。</p>
				</section>
				<section>
					<h3>ボードゲームのコンポーネント</h3>
					<p>チップやコインなどのトークン、駒、カード、ボードなど、ボードゲームで遊ぶために用いるコンポーネント(部品)については、その形状や図柄に一定の特徴があれば、<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=345AC0000000048#101">著作権法第10条</a>に例示される「<em>美術の著作物</em>」であり、権利保護の対象である。また、そのゲームで使用するために形状や用法に工夫が施されている場合は、そのコンポーネント自体が<em>特許権</em>や<em>実用新案権</em>、<em>意匠権</em>の対象である。</p>
				</section>
				<section>
					<h3>「ボードゲーム」そのものは保護されるか?</h3>
					<p>上述のように、ボードゲームの個々の構成要素はそれぞれに保護される可能性があるが、ゲーム開発者としては、自ら開発した<em>ボードゲームそのもの</em>を知的財産とみなし、保護したいと考えるのが通常である。</p>
					<p><a href="https://www.j-platpat.inpit.go.jp">特許情報プラットフォーム</a>で「ボードゲーム」と検索すると、ボードゲームに関する多数の特許や実用新案が表示され、ボードゲームに関する特許や実用新案が登録されていることが分かる。ここには、そのボードゲーム特有のコンポーネントの形状や技術的な工夫などを含み「技術的思想の創作」といえるものもあるが、そうした工夫の少ない、明らかにボードゲームそのものを出願したものも含まれている。</p>
					<p>特許情報プラットフォームに掲載された(特許広報に掲載された)特許や実用新案は、いちおう特許庁の審査を通過したものである。しかし、これらの<em>特許権や実用新案権が有効かどうかは、実際に訴訟が起こらなければ明らかにはならない</em>。訴訟において特許無効の抗弁がなされた場合は、裁判で特許の有効性が検討される。その結果特許が無効とされた場合は、権利は消滅してしまう(<a href="http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=334AC0000000121#743">特許法第104条の3</a>)。</p>
				</section>
				<section>
					<h3>結論</h3>
					<p>従って、ボードゲームは名称やロゴを商標権で、コンポーネントやルールブックを著作権で保護することが一般的である。ボードゲーム自体を特許や実用新案として出願して認められる可能性もあるが、訴訟で権利無効とされて権利を失うリスクを考慮すれば、権利保護のための堅実な方法とはいえない。</p>
				</section>
				<section>
					<h3>関連リンク</h3>
					<ul>
						<li><a href="https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q14133215929">Yahoo!知恵袋「ボードゲームの著作権について質問です」</a>(2014)</li>
						<li><a href="https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q10108199855">Yahoo!知恵袋「ボードゲームを考案したのですが、取得可能な知的財産権を教えてください」</a>(2013)</li>
						<li><a href="https://okwave.jp/qa/q7307650.html">OKWAVE「ボードゲームの著作権について」</a>(2012)</li>
						<li><a href="https://okwave.jp/qa/q1009822.html">OKWAVE「市販ボードゲームの著作権」</a>(2004)</li>
						<li><a href="https://okwave.jp/qa/q992837.html">OKWAVE「ボードゲームの知財権について」</a>(2004)</li>
						<li><a href="http://getnews.jp/archives/320444">ガジェット通信「アイデアは著作権にならないのか!?　ドイツでボードゲームデザイナー連盟が署名活動」</a>(2013)</li>
						<li><a href="http://d.hatena.ne.jp/redips/20101220/1292857279">Footprints「ボードゲームの権利保護」</a>(2010)</li>
						<li><a href="http://www.astermarks.jp/category/gamesofts-trademark.html">紫苑商標特許事務所「ゲーム会社のための商標登録」</a></li>
						<li><a href="https://www.hanketsu.jiii.or.jp/hanketsu/jsp/hatumeisi/news/200304news.html">知的所有権判例ニュース「貸借対照表に関する考案が「自然法則を利用した技術的思想の創作」に該当しないとされた事件」</a>(2003)</li>
					</ul>
				</section>
			</article>
			<article v-show="page == 'contact'">
				<h2>Contact</h2>
				<p>Board Game Japanへのお問い合わせには、下記のフォーム(または<a href="https://docs.google.com/forms/d/e/1FAIpQLScjNNxp-QZQAXL0cprSwo_K0rw8ROJL4U9u2qEgb4vhAYkG7A/viewform">フォームを直接表示</a>)をご利用ください。</p>
				<iframe loading="lazy" src="https://docs.google.com/forms/d/e/1FAIpQLScjNNxp-QZQAXL0cprSwo_K0rw8ROJL4U9u2qEgb4vhAYkG7A/viewform?embedded=true" width="100%" height="70%">読み込んでいます...</iframe>
			</article>
			<nav>
				<ul>
					<li v-for="p in pages"><a class="reversed" v-bind:href="'#' + p" v-on:click="page = p">{{p.charAt(0).toUpperCase() + p.slice(1)}}</a></li>
				</ul>
			</nav>
			<footer><small>Copyright &copy; 2017-2024 <a class="reversed" href="#contact" v-on:click="page = 'contact'">Board Game Japan</a>. All rights reserved.</small></footer>
		</div>
	</body>
</html>
