body {
	margin: auto 1%;
}
h1 {
	margin: auto;
}
.flexbox {
	display: -webkit-flex;
	display: flex;
}
ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
li {
	display: inline;
	margin: auto 5px;
}
em {
	font-style: normal;
	text-decoration: underline;
}
strong {
	font-style: normal;
	font-weight: bold;
}
