:root {
	--color-main: #4a488e;
	--color-base: white;
	--color-text: black;
}
body {
	background-color: var(--color-base);
	color: var(--color-text);
	margin: 0;
	overflow-y: scroll;
}
#app
{
	display: flex;
	flex-flow: column wrap;
}
nav > ul, article {
	max-width: 770px;
	min-width: 60%;
}
article
{
	order: 3;
	padding: 0px 5px;
	margin: auto;
}
/* Headings */
h1 {
	order: 1;
	margin: auto;
}
h2 {
	border-left: 5px solid var(--color-main);
	padding-left: 5px;
	font-size: large;
}
h2:first-letter {
	color: var(--color-main);
}
h3 {
	border-bottom: 3px solid var(--color-main);
	padding-left: 10px;
	font-size: normal;
}
/* Navigation menu */
nav
{
	order: 2;
	width: 100%;
	background-color: var(--color-main);
}
nav > ul {
	display:flex;
	justify-content: center;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
nav > ul > li{
	flex-grow: 1;
}
nav a {
	display: block;
	text-align: center;
	margin: 3px;
	padding: 5px;
	text-decoration: none;
	color: var(--color-base) !important;
}
nav a:hover {
	background-color: var(--color-base);
	color: var(--color-main) !important;
}
/* Inline elements */
a, a:visited {
	color: var(--color-main);
}
em {
	font-style: normal;
	border-bottom: 1px dashed var(--color-main);
	color: var(--color-main);
}
strong {
	font-style: normal;
	font-weight: bold;
	color: var(--color-main);
}
/* Block elements */
p {
	text-indent: 1em;
	margin: 1em auto;
}
img {
	/* responsive */
	max-width: 100%; 
	display: block;
	height: auto;
	margin: auto;
}
